html,
body,
#app {
  height: 100%;
  background-color: white;
}

body {
  margin: 1%;
  line-height: 0;
}

#app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: top;
}